#parent_div{
    height: 135%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    background-color: white;
    z-index: 0;
    
    
}

#child1{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 60%;
}



#child2{
    position: absolute;
    z-index: 2;
    
    height: 100%;
    width: 100%;
    
}

#child3{
    position: absolute;
    z-index: 6;
    background-color:  hsla(0, 0%, 100%, 0.808);
    height: 100%;
    width: 100%;
    
}

#child4{
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    text-align: center;
    
    
}

#head1{
    font-family: 'Rouge Script', cursive;
    font-size: 400%;
    font-weight: bolder;
    
}
#head2{
    font-family: 'Romanesco', cursive;
    font-size: 400%;
    margin-top: 25px;
}
#head3{
    font-family: 'Romanesco', cursive;;
    font-size: 400%;
    margin-top: 25px;
}




.name-inside-grid{
    
    position: absolute;
    left: 5px;
}

.enroll-inside-grid{
    
    position: absolute;
    right: 5px;
}

.grid-prop {
    border: solid 2px #000;
}

.customBorder{

        border-bottom:2px solid #000000;
        
        border-left: 2px solid #000000;
        
}

.customBorderp{

    border-right:2px solid #000000;
    
    border-top: 2px solid #000000;
    
}

.customBorderdec{
    border-left:2px solid #000000;
    
    border-top: 2px solid #000000;
    border-bottom:  2px solid #000000;
}

.customBorderdecin{
    border-right: 2px solid #000000;
}

.papertitle{
    position: absolute;
  left: 5px;
 }