.page-top{
    height:10%;
}


mat-toolbar{
    background-image: linear-gradient(  rgb(0, 60, 0),rgb(0, 95, 0),rgb(0, 130, 0),rgb(0, 165, 0));
}

.jhup{

    color: white;
    font-size: 250%;
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}


#page-bottom{
    height: 90%;
    width: 100%;
    
}






#cage-bottom {
    position: relative;
    z-index: 0;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
       
#layer1 {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 45%;
    
}
         
#layer2 {
    position: absolute;
    z-index: 2;
    background-image: radial-gradient(circle, rgba(68, 67, 67, 0.507), rgb(255, 235, 58), green);
    height: 100%;
    width: 100%;
    
}


    
    