#verify-token{
    height: 7%;
    
    background-color: black;
   
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
}

#verify-token h1{
    font-size: 200%;
    color: whitesmoke;
}
.navbar{
    justify-content: space-between;
    height: 7%;
    background-color: #ffd740;
}
span{
    padding-right: 1rem;
    
}


#parent_div{
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    background-color: white;
    z-index: 0;
    
    
}

#child1{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 45%;
}



#child2{
    position: absolute;
    z-index: 2;
    background-image: radial-gradient(circle, rgba(255, 217, 1, 0.507), rgba(255, 196, 0, 0.082), rgb(4, 65, 4));
    height: 100%;
    width: 100%;
    
}


#child3{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}



#routeroutlet{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(2, 2, 2, 0.623),rgba(255, 255, 255, 0.623), rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.6),rgb(255, 255, 255));
    position: relative;
}

#fucklock{
    height: 50%;
    width: 50%;
}