<br>
<mat-card><h1>Import Results</h1></mat-card> 

<br>

<mat-grid-list cols="4" rowHeight="50px">

    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca I sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        <input type="file" accept=".csv" (change)="impmca1($event)">
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca II sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        
        <input type="file" accept=".csv" (change)="impmca2($event)">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca III sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        <input type="file" accept=".csv" (change)="impmca3($event)">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca IV sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        <input type="file" accept=".csv" (change)="impmca4($event)">
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca V sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        <input type="file" accept=".csv" (change)="impmca5($event)">
    </mat-grid-tile>

    <!--mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop"> mca VI sem</mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" background="green" class="grid-prop">
        <input type="file" accept=".csv" (change)="impmca6($event)">
    </mat-grid-tile-->
    
    
  </mat-grid-list>
  